@import '../../App/variables';

// i {
//    border: 2px solid $metronome_on;

// //    color: $metronome_off
// }
.options-box {
   color: "#f6d";
   margin: 1%;
    // height: 100%

}
fa-ellipsis-v {
    background-color: $headline_text;
    color: $headline_text
}
.profile-container{
    display: inline;
    // justify-content: space-between;
    align-items: left;
    margin-bottom: 15vh;
    // height: 100%;
    // background-color: $dark_grey;
    // padding-left: 2rem;
    color: $dark_grey;

    .menuNav {
        top: 1vh;
        width: 20vw;
        z-index: 200;
        margin-bottom: 10vw;
    }
    
    .options-box{
        width: 30vw;
        margin-bottom: 10vw;
        z-index: 200;
        height: 40;
        position: relative;
        display: inline;
        justify-content: center;
        text-align: center;
        color: #7295AB;
     
        .buttonMenu:focus {
        
            border: none;
            margin-bottom: 20vh;
            z-index: 200;
        }
        .buttonMenu {
            width: 30vw;
            position: relative;
            background-color: $header_black;
            // box-shadow: 0 .5px 1px 0 #0B748C, 0 1px 2px 0 #0B748C;
            margin-bottom: 20vh;
            margin: 1vh;

   
         
                // width: 100%;
                // margin-right: 30vw;

                height: 0;
                display: inline;
                // display: flex;
                justify-content: center;
                text-align: center;
            
           
       
                // margin: '10vw',
             
                // margin-top: 10vh
                // marginRight: '10%',
                // marginLeft: '10%',
               
            
            i{
                // background-color: $dark_grey;
                color: #7295AB;
                // padding: 0 1rem;
            }
            .profile-menu{
                z-index: 1;
                width: 300px;
                font-size: 0.9rem;
                // padding: 0.5rem 0 ;
                margin-right: 5vw;
            margin-bottom: 30px;
                display: flex;
                background-color: $header_black;
                position: relative;
                // top: 150%;
         
              
                width: 10rem;
                // box-shadow: 0 .5px 1px 0 $white, 0 1px 2px 0 $white;
                ul {
                    margin-bottom: 30vh;
                    li{
                        padding: 0.5rem 0 ;
                            &:hover{
                                // margin-top: 10px;
                                // background-color: $metronome_off;
                                // border-radius: 0;
                            }
                            button{
                                color: $dark_grey;
                                height: 5px;
                                
                             

                            }
                    }
                }
            }
        }
    }
}