@import '../../App/variables';


// .webcam {
//     margin: 1vh
// }
// #remoteCanvas {
 
// }



.rtcRoomButton {  
        
 
    z-index: 10;
  

  
        border-style: solid;
        // margin-bottom: 5vh;
      
        // background-color: $header_black;
        // box-shadow: 0 4px 8px 0 #030303, 0 8px 16px 0 #030303; 
  
        background-color: $header_black;
        color: #eaeaea;
        z-index: 3;
        font-size: 26px;
        width: 50%;
        height: 60px;
        border-style: solid;
       border-color: #148aa3;
        border-width: 2;
        box-shadow: 0 1px 2px 0 #030303, 0 2px 4px 0 #030303; 
       
        justify-content: center;
        &:hover {
          justify-content: center;
          font-size: 30px;
          height: 60px;
          background-color: #148aa3;
          color: $header_black;
          border: 2px solid $header_black;
          box-shadow: 0 20px 40px 0 #030303, 0 40px 80px 0 #030303; 
        }



 
      }

      #canvasGrid {
        width: 100%
    }

.canvasBigContainer {
    background-color: $metronome_off;
    width: 100vh;
}
.canvasSmallContainer {
    background-color: $metronome_on;
    width: 94%;
}

#room-IDNamed {
    background-color: $header_black;
}

#room-id {
    color: #030303;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
}

#peerConnectionNamed {
    border: 2px solid orange;
   
}

label {
    background-color: $header_black;
}



// #MetronomeApp {
//     background-color: pink;
//     width: 50vw;
//     height: 20vh;
// };

#sampleLoaderContainer {
    background-color: teal;
    width: 75vw;
    height: 25vh;
}

#audioContainer {
    background-color: magenta;
    width: 95vw;
    height: 30vh;
}

#chatbox {
    display:inline;
    float: left;
    width: 100%
}

#metronomeContainer {
    padding-top: 2vh;
    display: inline;
    float: right;
    width: 50%;

}

#roomGrid {
    width: 100%;
    display: inline;
}

canvas {
  background-color: #ccc;
  --width: calc(50%);
  width: var(--width);
  height: calc(var(--width) * 0.75);

  vertical-align: top;
}

#idRoomJoin {
    width: 100%;
    border: 4px solid $header_black;
    display: inline;
  
    padding-right: 5%;
    padding-left: 5%;
}

#divConnectDetails {
    display: inline;
    float: left;
    width: 100%
}

#roomNumberTextArea {
    width: 40%;
}

#room-dialog {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    color: $white;
    // border: 8px solid yellow;
    display: inline;
    float: left;
}

.chatContainer {
    width: 40%;
}

#videosGrid {
    width: 100%;
    display: inline;
    float: left;
}

.videoContainer {
    width: 100%;
    display: inline;
    float: left;
}

// video {
//   --width: calc(45%);
//   width: var(--width);
//   height: calc(var(--width) * 0.75);
//   margin: 1em;
//   object-fit: cover;
// }

h3 {
    color: black;
}

.currentRoomID {
    margin-bottom: 2roomvh;
    background-color: transparent;
}