@import '../../App/variables';


// .webcam {
//     margin: 1vh
// }
// #remoteCanvas {
 
// }

.socialicons {
    background-color: #212121;
    margin: 5vh;
  
}

.rtcRoomButton {  
        
 
    z-index: 10;
  

  
        border-style: solid;
        // margin-bottom: 5vh;
      
        // background-color: $header_black;
        // box-shadow: 0 4px 8px 0 #030303, 0 8px 16px 0 #030303; 
  
        background-color: $header_black;
        color: #eaeaea;
        z-index: 3;
        font-size: 22px;
        width: 50%;
        height: 60px;
        border-style: solid;
        // border-color: #f2c84b;
        // border-width: 0.5px;
        box-shadow: 0 1px 2px 0 #030303, 0 2px 4px 0 #030303; 
       
        justify-content: center;
        &:hover {
          justify-content: center;
          font-size: 26px;
          height: 60px;
          background-color: #f2c84b;
          color: $header_black;
          border: 2px solid $header_black;
          box-shadow: 0 20px 40px 0 #030303, 0 40px 80px 0 #030303; 
        }
        &:focus {
            background-color: $metronome_on; 
          }



 
      }

#createBtn {
    
    z-index: 10;
  

  
        border-style: solid;
        // margin-bottom: 5vh;
      
        // background-color: $header_black;
        // box-shadow: 0 4px 8px 0 #030303, 0 8px 16px 0 #030303; 
  
        background-color: $header_black;
        color: #eaeaea;
        z-index: 3;
        font-size: 22px;
        width: 50%;
        height: 60px;
        border-style: solid;
        // border-color: #f2c84b;
        // border-width: 0.5px;
        box-shadow: 0 1px 2px 0 #030303, 0 2px 4px 0 #030303; 
       
        justify-content: center;
        &:hover {
          justify-content: center;
          font-size: 26px;
          height: 60px;
          background-color: $metronome_on;
          color: $header_black;
          border: 2px solid $header_black;
          box-shadow: 0 20px 40px 0 #030303, 0 40px 80px 0 #030303; 
        }
        &:focus {
            background-color: $metronome_off; 
          }

}
#joinBtn {
    z-index: 10;
  

  
        border-style: solid;
        // margin-bottom: 5vh;
      
        // background-color: $header_black;
        // box-shadow: 0 4px 8px 0 #030303, 0 8px 16px 0 #030303; 
  
        background-color: $header_black;
        color: #eaeaea;
        z-index: 3;
        font-size: 22px;
        width: 50%;
        height: 60px;
        border-style: solid;
        // border-color: #f2c84b;
        // border-width: 0.5px;
        box-shadow: 0 1px 2px 0 #030303, 0 2px 4px 0 #030303; 
       
        justify-content: center;
        &:hover {
          justify-content: center;
          font-size: 26px;
          height: 60px;
          background-color: $metronome_on;
          color: $header_black;
          border: 2px solid $header_black;
          box-shadow: 0 20px 40px 0 #030303, 0 40px 80px 0 #030303; 
        }
        &:focus {
            background-color: $metronome_off; 
          }    
}
#confirmJoinBtn {
    z-index: 10;
  

  
    border-style: solid;
    // margin-bottom: 5vh;
  
    // background-color: $header_black;
    // box-shadow: 0 4px 8px 0 #030303, 0 8px 16px 0 #030303; 

    background-color: $header_black;
    color: #eaeaea;
    z-index: 3;
    font-size: 22px;
    width: 50%;
    height: 60px;
    border-style: solid;
    // border-color: #f2c84b;
    // border-width: 0.5px;
    box-shadow: 0 1px 2px 0 #030303, 0 2px 4px 0 #030303; 
   
    justify-content: center;
    &:hover {
      justify-content: center;
      font-size: 26px;
      height: 60px;
      background-color: $headline_text;
      color: $header_black;
      border: 2px solid $header_black;
      box-shadow: 0 20px 40px 0 #030303, 0 40px 80px 0 #030303; 
    }
    &:focus {
        background-color: $metronome_off; 
      }
}
#hangupBtn {
    z-index: 10;
  

  
    border-style: solid;
    // margin-bottom: 5vh;
  
    // background-color: $header_black;
    // box-shadow: 0 4px 8px 0 #030303, 0 8px 16px 0 #030303; 

    background-color: $header_black;
    color: #eaeaea;
    z-index: 3;
    font-size: 22px;
    width: 50%;
    height: 60px;
    border-style: solid;
    // border-color: #f2c84b;
    // border-width: 0.5px;
    box-shadow: 0 1px 2px 0 #030303, 0 2px 4px 0 #030303; 
   
    justify-content: center;
    &:hover {
      justify-content: center;
      font-size: 26px;
      height: 60px;
      background-color: $headline_text;
      color: $header_black;
      border: 2px solid $header_black;
      box-shadow: 0 20px 40px 0 #030303, 0 40px 80px 0 #030303; 
    }
    &:focus {
        background-color: $metronome_off; 
      }
}

      #canvasGrid {
        width: 100%
    }

.canvasBigContainer {
    background-color: $metronome_off;
    width: 100vh;
}
.canvasSmallContainer {
    background-color: $metronome_on;
    width: 94%;
}

#room-IDNamed {
    background-color: $header_black;
}

#joinNow {
    text-align: center;
    border-bottom: $headline_text;
    margin-top: 15vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#room-id {
    color: $white;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#peerConnectionNamed {
    border: 1px solid $metronome_off;
   
}

label {
    background-color: $header_black;
}



// #MetronomeApp {
//     background-color: pink;
//     width: 50vw;
//     height: 20vh;
// };

#sampleLoaderContainer {
    border-color: $headline_text;
    width: 75vw;
    height: 25vh;
}

#audioContainer {
    border: 1px solid $offset_black;
    width: 95vw;
    height: 30vh;
}

#chatbox {
    display:inline;
    float: left;
    width: 100%
}

#metronomeContainer {
    border: 1px solid $dark_grey;
  
    display: inline;
    float: right;
    width: 50%;

}

#roomGrid {
    width: 100%;
    display: inline;
}

.iconOrder {
    display: flex;
    justify-content: center;
    fill: $white;
    color: $white;
}


.social-svg {
    background-color: $header_black;
    color: $header_black;
}

svg {
    display: inline-block;
    fill: $metronome_on;
}

.social-svg-mask > path {
    fill: $headline_text;
}
.social-svg-mask:hover > path {
    fill: $metronome_on;
}

canvas {
//   background-color: brown;
  --width: calc(50%);
  width: var(--width);
  height: calc(var(--width) * 0.75);

  vertical-align: top;
}

#idRoomJoin {
    width: 100%;
    border: 4px solid $header_black;
    display: inline;
  
    padding-right: 5%;
    padding-left: 5%;
}

#divConnectDetails {
    display: inline;
    float: left;
    width: 100%
}

#roomNumberTextArea {
    width: 40%;
}

#room-dialog {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    color: $white;
    // border: 8px solid $headline_text;
    display: inline;
    float: left;
    margin-top: 15vh;
}

.chatContainer {
    width: 40%;
}

#videosGrid {
    width: 100%;
    display: inline;
    float: left;
}

.videoContainer {
    width: 100%;
    display: inline;
    float: left;
}

// video {
//   --width: calc(45%);
//   width: var(--width);
//   height: calc(var(--width) * 0.75);
//   margin: 1em;
//   object-fit: cover;
// }

h3 {
    color: #030303;
}

.currentRoomID {
    margin-bottom: 2vh;
    background-color: transparent;
}