@import "../../App/variables";

.toolbar {
    background-color: $header_black;
    height: 6vh;
    width: 100%
}
.title {
    color: $white;
    text-align: center;
    margin-top: 2vh;
}
h6 {
    color: $white
}
.MuiButton-root {
    width: 12vw;
    margin-left: 16vw;
    color: $white
}

@media screen and (min-width: $mini){
    .title {

        // flex: 1;
        color:  $white;
      font-size: 20;
      text-align: center;
      margin-top: -7;
      width: 20vw;
      }
      h6 {
        color: $white
    }
    .MuiButton-root {
        width: 30vw;
        margin-left: 16vw;
        color: $white;
    }
}

@media screen and (min-width: $tablet){
    .title {

        // flex: 1;
        color:  $white;
      font-size: 24;
      margin-top: -7;
      text-align: center;
      width: 15vw;
      }
      h6 {
        color: $white
    }
    .MuiButton-root {
        width: 30vw;
        margin-left: 16vw;
        color: $white;
    }
}

@media screen and (min-width: $desktop){
    .title {

        // flex: 1;
        color:  $white;
      font-size: 18;
      text-align: center;
      margin-top: -7;
      width: 100%;
      }
      h6 {
        color: $white
    }
    .MuiButton-root {
        width: 100%;
        margin-left: 6vw;
        color: $white;
    }
}
.MuiAppBar-colorPrimary {
    background-color: $header_black;
    color: $header_black;
}
