@import "../../App/_variables";

.toolbar {
    background-color: $header_black;
    height: 6vh;
    width: 100%;
    box-shadow: .5px .5px 1px #030303, 1px 1px 2px 0 #030303;
}
.title {
    color: $red;
    text-align: center;
}
h6 {
    color: $red;
   
}
.MuiButton-root {
    width: 5vw;
    color: $red;
    margin-bottom: 10vh;
}

@media screen and (min-width: $mini){
    .title {

        // flex: 1;
        color:  $red;
      font-size: 20;
      text-align: center;
      margin-top: -7;
      width: 7vw;
      }
      h6 {
        color: $red
    }
    .MuiButton-root {
        width: 7vw;
        // margin-left: 6vw;
        color: $red;
    }
}

@media screen and (min-width: $tablet){
    .title {

        // flex: 1;
        color:  $red;
      font-size: 24;
      margin-top: -7;
      text-align: center;
      width: 10vw;
      }
      h6 {
        color: $red
    }
    .MuiButton-root {
        width: 10vw;
        margin-left: 5vw;
        color: $red;
    }
}

@media screen and (min-width: $desktop){
    .title {

        // flex: 1;
        color:  $red;
      font-size: 18;
      text-align: center;
      margin-top: -7;
      width: 12vw;
      }
      h6 {
        color: $red
    }
    .MuiButton-root {
        width: 12vw;
        margin-left: 4vw;
        color: $red;
    }
}
.MuiAppBar-colorPrimary {
    background-color: $header_black;
    color: $header_black;
}
