@import '../App/variables';

.auth-container{
    width: 100%;
    .submit-auth{
        background: $blue;
        border-color: #24a7a8;
        border-style: solid;
        border-width: 2px;
        background-color: $header_black;
        color: $metronome_on;
        padding: 2.5rem;
        margin-top: 1rem;
        height: 10vh;
    }
}
.submit-auth {
    width: 100%;
    color: $metronome_on;
    font: 42px;
}
.logPos {
    position: relative
}
