@import "../../App/variables";

header {
    background-color: $header_black;
    font-family: 'Didact Gothic';
    border-bottom: solid;
    border-width: 1px;
    border-color: $metronome_on;
    
}