@import '../../App/variables';

.welcome-container{
  
    height: 200%;
    display: flex;
    .left-column{
        width: 60%;
        background: $dark_grey;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right-column{
        width: 100%;
    background-color: $header_black;
        display: flex;
        align-items: center;
        justify-content: right;
    }
 
}