@import '../../App/_variables';

 
        
    p {
        color: $white;
        padding: 1vw;
    }

    #latencyRate {
      color: #F2C84B
    }

    .inputFieldAudio {
      width: 30%;
      margin-left: 50%;
      margin-right: 20%;
      text-align: left;
      color: $metronome_on;
      background: $header_black
    }

#bpmInput {
  color: $white
}

#latencyDetectorContainer {
  background-color: $metronome_on;
  color: $header_black;
  text-align: center;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}
    
#bpmBackground {
  background-color: $metronome_on;
}

#latencyMeasure {
  color: $metronome_off
}

    .latencyDetectorButton { 
    z-index: 10;
        font-size: 26;
     margin: 2vw;
        height: 40px;
        border-style: solid;
        // margin-bottom: 5vh;
        border-width: .5;
        // background-color: $header_black;
        // box-shadow: 0 4px 8px 0 #030303, 0 8px 16px 0 #030303; 
  
        background-color: $header_black;
        color: $metronome_on;
        z-index: 3;
        font-size: 22px;
        width: 70%;
        margin-right: 15%;
        margin-left: 15%;
        height: 18vh;
        border-style: solid;
        border-width: .5;
        margin-bottom: 15vh;
        box-shadow: 0 1px 2px 0 #030303, 0 2px 4px 0 #030303; 
       
        justify-content: center;
        &:hover {
          justify-content: center;
          font-size: 30px;
          height: 18vh;
          background-color: $red;  
          margin-bottom: 15vh;
          color: $header_black;
          border: 2px solid $header_black;
          box-shadow: 0 5px 10px 0 #030303, 0 5px 15px 0 #030303; 
        }



 
      }