@import '../App/variables';


.MuiButton-label {
    align-items: 'center';
    color: "$headline_text";
    height: 40vh;
  
}
.title {
    // flex: 1;
    color: $metronome_off;
  font-size: 24;
  margin-top: -7;
  width: 10vw;

  }
main {

    .container{
        display: flex;
        background-color: $dark_grey;
     
        .left-side{
            width: 30%;
            background-color: $dark_grey;
            color: $dark_grey;
            margin-bottom: 10vh;
            // height: 100%
            //display: flex;
            //flex-direction: column;
        }
      
   
        .right-side{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            margin-top: 100vh;
            background-color: $offset_black;
            // border-right: 1px solid $border;
            //display: flex;
            //flex-direction: column;
            .select-user-container{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            style {
                background-color: $dark_grey;
                color: #212121
              }
        }
    }
}

@media screen and (max-width: $medium){
    main {
        
        .container {
            .left-side{
                width: 5%;
                height: 50%
            }
            .right-side{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 420px){
    main {
        overflow-x: hidden;
        .container {
            position: relative;
         
            .right-side{
                width: 12%;
                position: absolute;
                top: 0;
                bottom: 0;
                transform: translateX(100%);
                transition: transform .3s ease-in-out;
            }
        }
    }
}
.MuiDrawer-paper {
    // top: 0;
    flex: 1 0 auto;
    /* height: 100%; */
    display: flex;
    background-color: $dark_grey;
    color:  $dark_grey;
    outline: 0;
    z-index: 1200;
    position: fixed;
    overflow-y: auto;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
}
