  
$offset_black: #6E6363;
$header_black: #212121;
$headline_text: #9ED1FF;
$dark_grey: #5e5d5d;
$metronome_off: #505478;
$metronome_on: #198C63;
$white: #f6deba;
$bluish: #7295AB;

$mini: 400px;
$cellphone: 480px;
$medium: 640px;
$tablet: 768px;
$desktop: 1024px;