  
$blue: #041621;
$header_black: #212121;
$headline_text: #85b1d7;
$light_grey: #aaf;
$dark_grey: #5e5d5d;
$metronome_off: #24a7a8;
$metronome_on: #aaf;
$white: #dadcd7;


$mini: 400px;
$cellphone: 480px;
$medium: 640px;
$tablet: 768px;
$desktop: 1024px;