  
$offset_black: #6E6363;
$header_black: #141013;
$headline_text: #50D4F2;
$dark_grey: #5e5d5d;
$metronome_off: #F2C84B;
$metronome_on: #38A69B;
$white: #F1FFFA;
$red: #F25252;

$mini: 400px;
$cellphone: 480px;
$medium: 640px;
$tablet: 768px;
$desktop: 1024px;