@import '../App/variables';

.signupText {
        position: relative;
        justify-content: center;
        // padding: 5%;
        background-color: $header_black;
        color: $white;
        width: 100%;
        text-align: center;
}

.MuiPaper-root{
    background-color: $header_black;
    justify-content: center;
    // padding-top: 6%;
    margin-bottom: 15%;
    padding: 4%;
    
    // padding-left: 5%;
    // padding-right: 5%
    // color: $header_black
}
.MuiInputLabel-formControl{
    color: $white;

}
.inputPad label {
    width: '70%';
    color: $metronome_off;
    font-size: 18px;
}

.inputPad {
    border-style: solid;
    border-width: 2px;
}

form {
    width: '100%';
    // padding:5px
}


.firsttimeSubmit {
    color: $white;
    background-color: $header_black;
    // height: 16vh;
    width: 70%;
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 16vh;
    border: solid;
    border-width: 2;
    margin-bottom: 13vh;
    padding: 5%;
    border-radius: 15px;
    // margin-bottom: 30;
    // border-radius: 3%;
    // margin-top:20;
    box-shadow: 0 1px 2px 0 $metronome_off, 0 2px 4px 0 $metronome_off;
    &:hover {
      justify-content: center;
      font-size: 22px;
    //   height: 12vh;
    padding: 6%;
      color: $header_black;
      background-color: $white;
      border-radius: 15px;
      color: $header_black;
      border: 2px solid $offset_black;
      box-shadow: 0 80px 160px 0 #030303, 0 100px 1220px 0 #030303; 
    }
    // margin: '10vw',
 
    // margin-top: 10vh
    // marginRight: '10%',
    // marginLeft: '10%',
   
}
#instrument {
    color: $white;
    border: 2px solid $offset_black;
    margin-bottom: 12vh;
}
#instrument-label {
    color: $white;
}
#bandName {
    color: $white;
    border: 2px solid $offset_black;
}
#bandName-label {
    color: $white;
}
#email {
    color: $white;
    border: 2px solid $offset_black;
}
#email-label {
    color: $white;
}
#lastName {
    color:$white;
    border: 2px solid $offset_black;
}
#lastName-label {
    color: $white;
}
#firstName {
    color: $white;
    border: 2px solid $offset_black;
}
#firstName-label {
    color: $white;
}
#password {
    color: $white;
    border: 2px solid $offset_black;
}
#password-label {
    color: $white;
}
#username {
    color: $white;
    border: 2px solid $offset_black;
}
#username-label {
    color: $white;
}
#register_button{
    width: 50%;
    margin-right: 5%;
    margin-left: 5%;
 
    &:hover{
        background-color: $white;
    }
}
.MuiButtonBase-root .MuiButton-root .MuiButton-text {
    justify-content: center;
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 200vh;
    height: 60px;
    border: 2px solid #eed55b;
    cursor: zoom-in;

    }




