@import '../App/variables';



.about {   
    font-size: 20;
    font-family: 'Overpass';
    background-image: url("https://www.getty.edu/art/exhibitions/cisneros/images/landing/4_Fiaminghi_Alternado2_x1024.jpg");
    background-position: 'center';
    background-size: 'cover';
    background-repeat: 'no-repeat';
    overflow: 'auto';
    
}
// .about::after, .about::before {
//     z-index:0;
//     opacity: .7;


//     content: ""; 
//     position: absolute;
//     top: 0;
//     left: 50%;
//     transform: skew(15deg)
//                translateX(-50%);
//     width: 85%;
//     height: 100%;
//     background-image: linear-gradient(120deg,$metronome_on,$metronome_off);
//     background-color: #333;
//     opacity: .7;
// }

// .about::before {
//     transform: skew(-15deg) 
//                translateX(-50%);
// }
.socialicons {
    background-color: #212121;
    margin: 5vh;
  
}

#aboutTech {
    color: #7295AB;
    font-family: "Poppins"
}

.social-svg {
    background-color: $header_black;
    color: $header_black;
}

svg {
    display: inline-block;
    fill: $white;
}

.social-svg-mask > path {
    fill: $white;
}
.social-svg-mask:hover > path {
    fill: $metronome_off;
}
g {
    fill: $white;
}
.iconOrder {
    display: flex;
    justify-content: center;
    fill: $white;
    color: $white;
}
.iconGrid {
    display: flex;
    justify-content: center;
    }
.card2 {
  
       
        font-size: 20;
        position:'relative'; 
        left: "20%";
        width: "100%";
        overflow: 'auto';
        border-style: 'solid';
        border-width: 2;
        color: $white;
        border-color: '#85b1d7';
        // borderRadius: 7,
        margin-right: 6;
       
        font-family: 'Overpass';
        background-color: '#333333';
        opacity: .93;
}
@media screen and (min-width: $mini){
    .title {
        // flex: 1;
        color:  $white;
      font-size: 20;
      margin-top: -7;
      width: 100%;
    
      }
      .MuiButton-root {
        width: 100%;
        margin-left: 6vw;
        height: 12vh;
        background-color: $metronome_off;
    }
}
li, ul, h5 {
    color: $headline_text;
   
}


@media screen and (min-width: $tablet){
    .title {

        // flex: 1;
        color:  $white;
      font-size: 24;
      margin-top: -7;
      width: 15vw;
      }
      .MuiButton-root {
        width: 100%;
        margin-left: 6vw;
        background-color: $metronome_on;
        height: 12vh;

    }
}
li, ul, h5 {
    color: $headline_text;
   

}

@media screen and (min-width: $desktop){
    .title {

        // flex: 1;
        color: #f6deba;
      font-size: 18;
      margin-top: -7;
      width: 100%;
      }
    .MuiButton-root {
        width: 100%;
        margin-left: 6vw;
        background-color: $header_black;
        height: 12vh;
    }
}
li, ul, h5 {
    color: $headline_text;
   
}
.socialicons .MuiGrid-root  {
    background-color: $header_black
}
