@import '../App/variables';

.socialicons {
    background-color: #212121;
}

// .iconOrder {
//     margin-left: 28%;
//     margin-right: 28vw;
//     // margin-right: 32%;
// }
.card2 {
  
        display: 'flex';
        variant: "h2";
        font-size: 20;
        position:'relative'; 
        left: "20%";
        width: "100%";
        overflow: 'auto';
        border-style: 'solid';
        border-width: 2;
        color: '#f6f6f6';
        border-color: '#85b1d7';
        // borderRadius: 7,
        padding-right: 3;
        padding-left: 3;
        font-family: 'Overpass';
        background-color: '#333333';
        margin-top: 10;
        margin-bottom: 40;
        opacity: .93;
        padding: 15;
   
}
@media screen and (min-width: $mini){
    .title {
        // flex: 1;
        color:  $white;
      font-size: 20;
      margin-top: -7;
      width: 20vw;
      }
    .MuiButton-root {
        width: 30vw;
        margin-left: 16vw
    }
}

@media screen and (min-width: $tablet){
    .title {

        // flex: 1;
        color:  $white;
      font-size: 24;
      margin-top: -7;
      width: 15vw;
      }
    .MuiButton-root {
        width: 30vw;
        margin-left: 16vw
    }
}

@media screen and (min-width: $desktop){
    .title {

        // flex: 1;
        color:  $light_grey;
      font-size: 18;
      margin-top: -7;
      width: 100%;
      }
    .MuiButton-root {
        width: 100%;
        margin-left: 6vw
    }
}
