@import "../../App/variables";

  a {
    position: relative;
    width:60%
  }



  .inputCreateRoom{
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 7%;
      margin-bottom: 7%;
      width: 80%;
      // background-color: #212121;
      display: flex;
      position: relative;
      padding-left: 3%;
      // marginRight: '1%',
      justify-content: center;
      // marginLeft: '1%',
      // margin-top: 5;
      height: 60px;
      color: $white;
      font-size: 22; 
      // border: 1px solid $white;
      box-shadow: 0 1px 1.5px 0 #030303, 0 1px 3px 0 #030303;
      &:hover {
     
        font-size: 22px;
        height: 60px;
        background-color: #141013;
       
        border: 2px solid $header_black;
        box-shadow: 0 1px 1.5px 0 #030303, 0 1px 3px 0 #030303;
      }
  }
  h3 {
    color: $metronome_on;
//  padding-top: 5vh;
 font-size: 26px;

  }

  // .openRoomsTitle {
  //   background-color: $white;
  //   color: $white;

  // }


.openRoomsTitle {
  color: $red;
  z-index: 3;
  font-size: 32;
  // width: 40%;
  height: 1;
  margin-bottom: 5vh;
  text-align: center;

  // border-style: solid;
  // border-width: .5;

    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 3vh;
    background-color: #212121;

  
 
}  
.openRoomButton {
  
    background-color: $header_black;
    color: $white;
    border: 1px solid $metronome_on;
    border-radius: 5px;
    z-index: 3;
    font-size: 26;
    width: 70%;
    height: 60px;
    border-style: solid;
    margin-bottom: 5vh;
    border-width: .5;
    box-shadow: 0 1px 2px 0 #030303, 0 2px 4px 0 #030303; 
    width: '60%';
    justify-content: center;
    &:hover {
      justify-content: center;
      font-size: 22px;
      height: 60px;
      background-color: $metronome_on;
      color: $header_black;
      border: 2px solid $header_black;
      box-shadow: 0 20px 40px 0 #030303, 0 40px 80px 0 #030303; 
    }
    &:focus {
      background-color: $red; 
    }
}


  .joinRoomButton .MuiButton-root
  {
    background-color: $metronome_off;
    color: $header_black;
    z-index: 3;
    font-size: 26;
    width: 70%;
    height: 60px;
    border-style: solid;
    margin-bottom: 5vh;
    border-width: .5;
    box-shadow: 0 1px 2px 0 #030303, 0 2px 4px 0 #030303; 
    width: '60%';
    justify-content: center;
    &:hover {
      justify-content: center;
      font-size: 22px;
      height: 60px;
      background-color: #38A69B;
      color: $header_black;
      border: 2px solid $header_black;
      box-shadow: 0 20px 40px 0 #030303, 0 40px 80px 0 #030303; 
    }
    &:focus {
      background-color: $red; 
    }
  }

#signUpSubmitButton
a {
    width: 400;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 2vh;
    border-style: solid;
    border-color: #38A69B;
    color: #aff;
    border-width: 2;
    border-radius: 5%;
  
    // justify: "right",
   
    // marginTop: '10vh'
}

  .h1 {
    background-image: linear-gradient(-180deg, $metronome_on, $white);
    color: $white;
    width: 100%;
    position: relative;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
    position: relative;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    // margin-bottom: 10vh;
  }
  .MuiCard-root {
    overflow: ''
  }
  .textarea2 {
    color: "#F2C84B";

  }
  .roomNameCard {
    width: 44%;
    margin-right: 28%;
    margin-left: 28%;
    margin-top: 5vh;
    margin-bottom: 1vh;
    box-shadow: 0 20px 40px 0 #030303, 0 4px 8px 0 #030303;
  }

  .component-wrapper {
    border: 2px solid $headline_text;
    color: $white;
    margin-right: 10%;
    margin-left: 10%;
  }
  


  .buttonJoin {
    background-color: $header_black;
    color: $white;
 
    z-index: 3;
    font-size: 26;
    // width: 70%;
    height: 60px;
    border-style: solid;
    // margin-bottom: 5vh;
    border-width: .5;
    box-shadow: 0 1px 2px 0 #030303, 0 2px 4px 0 #030303; 
    width: '60%';
    justify-content: center;
    &:hover {
      justify-content: center;
      font-size: 22px;
      height: 60px;
      background-color: #38A69B;
      color: $header_black;
      border: 2px solid $header_black;
      box-shadow: 0 20px 40px 0 #030303, 0 40px 80px 0 #030303; 
    }
    &:focus {
      background-color: $red; 
    }
  }

  
  .roomNameCard {
    box-shadow: 0 1px 2px 0 #030303, 0 2px 4px 0 #030303;
   border-radius: 0%
  }




@media screen and (min-width: $mini){
  .component-wrapper {
    color: "#F2C84B";
    border: 2px solid $headline_text;
    margin-right: 2%;
    margin-left: 2%;
  }
}
@media screen and (min-width: $cellphone){
  .component-wrapper {
    color: $white;
    border: 2px solid $headline_text;
    margin-right: 4%;
    margin-left: 4%;
  }
}
@media screen and (min-width: $tablet){
  .component-wrapper {
    color: $white;
    border: 2px solid $headline_text;
    margin-right: 6%;
    margin-left: 6%;
  }
}
@media screen and (min-width: $medium){
  .component-wrapper {
    color: $white;
    border: 2px solid $headline_text;
    margin-right: 8%;
    margin-left: 8%;
  }
}
@media screen and (min-width: $desktop){
  .component-wrapper {
    color: $white;
    border: 2px solid $headline_text;
    margin-right: 10%;
    margin-left: 10%;
  }
}
